SECRET_KEY=multipagos-auth-ddd-dev-secret-key
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1,auth
DB_ENGINE=postgres
DB_NAME=multipagos_auth
DB_USER=multipagos
DB_PASSWORD=multipagos
DB_HOST=auth-db
DB_PORT=5432
